Source: panfan
Section: utils
Priority: optional
Maintainer: Toby <tobyxdd@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://github.com/tobyxdd/panfan
Vcs-Browser: https://github.com/tobyxdd/panfan
Vcs-Git: https://github.com/tobyxdd/panfan.git

Package: panfan
Architecture: amd64
Depends: acpi-call-dkms, systemd, ${misc:Depends}, ${shlibs:Depends}
Description: fan controller for Panasonic CF-SC laptops
 panfan hands fan ownership to Linux through Panasonic ACPI methods and
 controls the standard thermal cooling device from CPU package temperature.
 It supports Panasonic CF-SC laptops reporting the CFSC-2 DMI product name.
